version: "3.9"

services:
  angular-app:
    container_name: angular-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - webnet
