services:
  jeufutbol-frontend:
    container_name: jeufutbol-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4200:80"
    restart: always
    environment:
      - NODE_ENV=production

