services:
  jeufutbol-frontend:
    container_name: jeufutbol-frontend
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80"   # Internal app port (Traefik will route to this)
    environment:
      - NODE_ENV=production
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
